<div class="scrollbar-inne">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center" style="font-size: 15px">
          <a class="navbar-brand" href="javascript:void(0)">
            <img src="../assets/img/logo.png" class="navbar-brand-img" style="height:100px; width:100px;">
          </a>
          <i class="ni education_hat mr-2"></i>Lembaga Ilmu Pengetahuan Indonesia
  
        </div>
        <div class="navbar-inner">
          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Nav items -->
            <ul class="navbar-nav">
              <li class="nav-item">
                 <a class="nav-link" href="#" onclick="link_dashboard();">
                  <i class="ni ni-tv-2 text-primary"></i>
                  <span class="nav-link-text">Data Pegawai</span>
                </a>
              </li>

              <!--<li class="nav-item">
                <a class="nav-link" href="#" class="trigger-btn" data-toggle="modal" onclick="link_listabsen();">   
                  <i class="ni ni-single-copy-04"></i>
                  <span class="nav-link-text">Data Absen
                  </span>
                </a>
              </li>-->
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <i class="ni ni-single-02 text-yellow"></i>
                  <span class="nav-link-text">Logout</span>
                </a>
              </li>
  
            </ul>
  
  
          </div>
        </div>
      </div>
