<%- include('partials/header'); -%>

<body>
  <!-- Sidenav -->
  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
      <%- include('partials/sidebar'); -%> 
  </nav>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
   
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase  mb-0">Pegawai</h5>
                      <span class="h2 font-weight-bold mb-0" id="jumlah_pegawai">-</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-circle-08"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-4 mb-0 text-sm">
                    <span class="text-nowrap">Jumlah Pegawai Keseluruhan</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase  mb-0">Laki-Laki</h5>
                      <span class="h2 font-weight-bold mb-0" id="jumlah_pegawai_pria">-</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                          <i class="ni ni-circle-08"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-4 mb-0 text-sm">
                    <span class="text-nowrap">Jumlah Pegawai Laki-Laki</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase mb-0">Wanita</h5>
                      <span class="h2 font-weight-bold mb-0" id="jumlah_pegawai_wanita">-</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                          <i class="ni ni-circle-08"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-4 mb-0 text-sm">
                    <span class="text-nowrap">Jumlah Pegawai Wanita</span>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <!--<div class="col-xl-12">
          <div class="card">
            <div id="grapik" class="card-header bg-transparent" style="cursor:pointer;">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="h3 mb-0">Grafik Kehadiran</h5>
                </div>

              </div>
            </div>
            <div id="grapik_body" class="card-body" style="display:none;">
              
              <div class="chart">
             
                <canvas id="chart-bars" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>-->

      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Data Pegawai</h3>
                </div>
                <div class="col-4 text-right">
                  <a class="btn btn-sm btn-primary" href="#myModal_form" data-toggle="modal">Add Data Pegawai</a>
                </div>   
              </div>
            </div>
            <div class="table-responsive" id="reload">
                <table id=tabel_kehadiran class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                        <th scope='col' class='sort'>No</th>
                        <th scope='col' class='sort'>Nip</th>
                        <th scope='col' class='sort'>Nama</th>
                        <th scope='col' class='sort'>Gender</th>
                        <th scope='col' class='sort'>Tempat Tanggal Lahir</th>
                        <!--<th scope='col' class='sort'>Alamat</th>-->
                        <th scope='col' class='sort'>Jabatan</th>
                        <th scope='col' class='sort'>Action</th>
                        </tr>
                    </thead>
                    <tbody class="list"></tbody>
                  </tbody>
                </table>
              </div>
            <div class="card-footer py-4" id="alert" style="text-align: center; font-weight: bold;">
                <!--<nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>-->
              </div>
          </div>
        </div>
        
      </div>
      <!-- Footer -->
      <%- include('partials/footer'); -%>  
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="../assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="../assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Optional JS -->
  <script src="../assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="../assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <!-- Argon JS -->
  <script src="../assets/js/argon.js?v=1.2.0"></script>
</body>

</html>


<script>

$(document).ready(function() {
    load_data();
    jumlah_pegawai();
    jumlah_pegawai_pria();
    jumlah_pegawai_wanita();
    //$('.datepicker').datepicker();

    var token = localStorage.getItem('token');
    //alert(token);

});

function load_data(){
  $.ajaxSetup({
      headers: { "Authorization": 'Bearer ' + localStorage.getItem('token') },
    });
  $.getJSON('https://tugaspabo-backend.herokuapp.com/pegawai', null, function(rows) {
    const tbody = $("#tabel_kehadiran tbody");
    var no = 1
    $("#tabel_kehadiran tbody").empty();
    $.each(rows, function(_, obj) {
      tr = $("<tr/>");
      tr.append("<td>" + no++ + "</td>")
      //alert(obj.waktu_masuk)
      //$.each(obj, function(_, text) {
      tr.append("<td>" + obj.nip + "</td>")
      tr.append("<td>" + obj.nama + "</td>")
      tr.append("<td>" + obj.jeniskelamin + "</td>")
      tr.append("<td>" + obj.tempatlahir +", "+ FormatDate(obj.tanggallahir) +"</td>")
      //tr.append("<td>" + obj.alamat + "</td>")
      tr.append("<td>" + obj.jabatan + "</td>")
      //tr.append("<td><i class='ni ni-email-83'></i></td>")
      tr.append("<td><a class='btn btn-sm btn-success' href='#myModal_form_update' data-toggle='modal' onclick=load_data_pegawai('"+ obj.nip +"');>Edit</a> <a class='btn btn-sm btn-danger' href='#delete' onclick=delete_data_pegawai('"+ obj.id +"');>Delete</a></td>")
      //});
      tr.appendTo(tbody);
    });
  });

}

function load_data_pegawai(nip_pegawai){
    //alert(nip_pegawai)
    var token = localStorage.getItem('token');
    //alert(token)
    $.ajax({
      type: "GET",
      headers: { "Authorization": 'Bearer ' + token },
      url: "https://tugaspabo-backend.herokuapp.com/pegawai/"+nip_pegawai,
      dataType: "json",
      success: function (data) {
         // var nip_pegawai = data[0].nip;
          var nama = data[0].nama;
          var jenis_kelamin = data[0].jeniskelamin;
          var tempatlahir = data[0].tempatlahir;
          var tanggallahir = FormatDateYMD(data[0].tanggallahir);
          var alamat = data[0].alamat;
          var jabatan = data[0].jabatan;
          
          $('#nip_update').val(nip_pegawai);
          $("#nama_update").val(nama);
          $("#jenis_kelamin_update").val(jenis_kelamin);
          $("#tempat_lahir_update").val(tempatlahir);
          $("#tanggal_lahir_update").val(tanggallahir);
          $("#alamat_update").val(alamat);
          $("#jabatan_update").val(jabatan);
         
        
      }
  });
 }

function post_data_pegawai(){
    var get_nip = $("#nip").val(); 
    var get_nama = $("#nama").val(); 
    var get_jenis_kelamin= $("#jenis_kelamin").val(); 
    var get_tempat_lahir = $("#tempat_lahir").val(); 
    var get_tanggal_lahir = $("#tanggal_lahir").val(); 
    var get_alamat = $("#alamat").val(); 
    var get_jabatan = $("#jabatan").val();

   
    var formData = {
        nip:get_nip,
        nama:get_nama,
        jeniskelamin:get_jenis_kelamin,
        tempatlahir:get_tempat_lahir,
        tanggallahir:get_tanggal_lahir,
        alamat:get_alamat,
        jabatan:get_jabatan
    }; 

    $.ajax({
        url : "https://tugaspabo-backend.herokuapp.com/pegawai",
        type: "POST",
        dataType: "json",
        data : formData,
        success: function(data, textStatus, jqXHR)
        {
            notif('success-message');  
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
            console.log(jqXHR);
            alert('fail' + textStatus.code);
        }
    });
 }

 function jumlah_pegawai(){
    var token = localStorage.getItem('token');
    //alert(token);
    $.ajax({
      type: "GET",
      headers: { "Authorization": 'Bearer ' + token },
      url: "https://tugaspabo-backend.herokuapp.com/jumlahpegawai",
      dataType: "json",
      success: function (rows) {
          var jumlah_pegawai = rows.jumlah_pegawai; 
          $('#jumlah_pegawai').text(jumlah_pegawai);
      },
      error: function (jqXHR, textStatus, errorThrown)
        {
          $('#alert').text('API Forbidden');
        }
  });
 }

 function jumlah_pegawai_pria(){
    var token = localStorage.getItem('token');
    $.ajax({
      type: "GET",
      headers: { "Authorization": 'Bearer ' + token },
      url: "https://tugaspabo-backend.herokuapp.com/jumlahpegawaipria",
      dataType: "json",
      success: function (rows) {
          var jumlah_pegawai = rows.jumlah_pegawai; 
          $('#jumlah_pegawai_pria').text(jumlah_pegawai);
      }
  });
 }

 function jumlah_pegawai_wanita(){
   var token = localStorage.getItem('token');
    $.ajax({
      type: "GET",
      headers: { "Authorization": 'Bearer ' + token },
      url: "https://tugaspabo-backend.herokuapp.com/jumlahpegawaiwanita",
      dataType: "json",
      success: function (rows) {
          var jumlah_pegawai = rows.jumlah_pegawai; 
          $('#jumlah_pegawai_wanita').text(jumlah_pegawai);
      }
  });
 }



 function update_data_pegawai(){

  var get_nip_update = $('#nip_update').val();
  var get_nama_update = $("#nama_update").val();
  var get_jenis_kelamin_update = $("#jenis_kelamin_update").val();
  var get_tempat_lahir_update = $("#tempat_lahir_update").val();
  var get_tanggal_lahir_update = $("#tanggal_lahir_update").val();
  var get_alamat_update = $("#alamat_update").val();
  var get_jabatan_update = $("#jabatan_update").val();


    var formData = {
        nip:get_nip_update,
        nama:get_nama_update,
        jeniskelamin:get_jenis_kelamin_update,
        tempatlahir:get_tempat_lahir_update,
        tanggallahir:get_tanggal_lahir_update,
        alamat:get_alamat_update,
        jabatan:get_jabatan_update
    }; 
    
    $.ajax({
        url : "https://tugaspabo-backend.herokuapp.com/pegawai",
        type: "PUT",
        dataType: "json",
        data : formData,
        success: function(data, textStatus, jqXHR)
        {
          notif_update('update-message');  
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
            console.log(jqXHR);
            alert('fail' + textStatus.code);
        }
    });
 }

 function delete_data_pegawai(id){

  $.ajax({
        url : "https://tugaspabo-backend.herokuapp.com/deletepegawai/"+id,
        type: "DELETE",
        dataType: "json",
        success: function(data, textStatus, jqXHR)
        {
            notif_delete('delete-message');  
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
            console.log(jqXHR);
            alert('fail' + textStatus.code);
        }
    });  
 }

 function notif(status){
    if (status === 'success-message') {
        Swal.fire({
            title: 'Data Pegawai Telah Ditambahkan',
            icon: 'success',
            showConfirmButton: false,
            html:
                'Anda Berhasil Mengisi Data Pegawai' +
                ' <br><br>Redirecting in 2 seconds...', 
            timer: 2000,
        })
        .then(function (result) {
            window.location.href = "https://tugaspabo-frontend.herokuapp.com/listpegawai/listpegawai/";
            //load_data();
        })
    }else{
        swal("Error occured !");
    } 
    
    
  }

  function notif_update(status){
    if (status === 'update-message') {
        Swal.fire({
            title: 'Data Pegawai Telah Diperbaharui',
            icon: 'success',
            showConfirmButton: false,
            html:
                'Anda Berhasil Memperbaharui Data Pegawai' +
                ' <br><br>Redirecting in 2 seconds...', 
            timer: 2000,
        })
        .then(function (result) {
            window.location.href = "https://tugaspabo-frontend.herokuapp.com/listpegawai/listpegawai/";
            //load_data();
        })
    }else{
        swal("Error occured !");
    } 
    
    
  }

  function notif_delete(status){
    if (status === 'delete-message') {
        Swal.fire({
            title: 'Data Pegawai Telah Dihapus',
            icon: 'success',
            showConfirmButton: false,
            html:
                'Anda Berhasil Menghapus Data Pegawai' +
                ' <br><br>Redirecting in 2 seconds...', 
            timer: 2000,
        })
        .then(function (result) {
            window.location.href = "https://tugaspabo-frontend.herokuapp.com/listpegawai/listpegawai/";
            //load_data();
        })
    }else{
        swal("Error occured !");
    } 
    
    
  }

</script>