
                              <div class="card-block">
                                <div class="row">
                                  <div class="col-xl-4 col-md-4">
                                    <div class="card bg-c-green order-card">
                                      <div class="card-block">
                                        <h6 class="text-white m-b-0" style="font-weight: bold;">Nitrogen</h6>
                                        <h3 class="text-white">
                                          <span id="last-nitrogen-1"><b>-</b> </span> mg/kg
                                          
                                        </h3>
                                        <p class="text-white m-b-0"> last update : <span id="lastdate_nitrogen-1">-</span>
                                        </p>
                                        <img class="img-fluid" src="../assets/images/nitrogen.png" alt="Theme-Logo" style="width: 50px;height: 50px;position: absolute;top: 20px;right: 10px;" />
                                      </div>
                                    </div>
                                    <!--<div id="plot_nitrogen" style="height: 300px; margin: 0 auto"></div>-->
                                  </div>
                                  <div class="col-xl-4 col-md-4">
                                    <div class="card bg-c-green order-card">
                                      <div class="card-block">
                                        <h6 class="text-white m-b-0" style="font-weight: bold;">Phosphorous</h6>
                                        <h3 class="text-white">
                                          <span id="last-phosphorous-1"><b>-</b></span>
                                          mg/kg
                                        </h3>
                                        <p class="text-white m-b-0">last update : <span id="lastdate_phosphorous-1">-</span>
                                        </p>
                                        <img class="img-fluid" src="../assets/images/phosporus.png" alt="Theme-Logo" style="width: 50px;height: 50px;position: absolute;top: 20px;right: 10px;" />
                                      </div>
                                    </div>
                                    <!--<div id="plot_phosphor" style="height: 300px; margin: 0 auto"></div>-->
                                  </div>
                                  <div class="col-xl-4 col-md-4">
                                    <div class="card bg-c-green order-card">
                                      <div class="card-block">
                                        <h6 class="text-white m-b-0" style="font-weight: bold;">Potassium</h6>
                                        <h3 class="text-white">
                                          <span id="last-potassium-1"><b>-</b> </span>
                                          mg/kg
                                        </h3>
                                        <p class="text-white m-b-0">last update : <span id="lastdate_potassium-1">-</span>
                                        </p>
                                        <img class="img-fluid" src="../assets/images/phottasium.png" alt="Theme-Logo" style="width: 50px;height: 50px;position: absolute;top: 20px;right: 10px;" />
                                      </div>
                                    </div>
                                    <!--<div id="plot_pottasium" style="height: 300px; margin: 0 auto"></div>-->
                                  </div>
                                  <div class="col-xl-12 col-md-12">
                                    <div id="plot_npk-1"></div>
                                  </div>
                                  <div class="col-xl-3 col-md-3">
                                    <div class="card bg-c-pink order-card">
                                      <div class="card-block">
                                        <h6 class="text-white m-b-0">Temperature</h6>
                                        <h3 class="text-white">
                                          <span id="last-temperature-1"><b>-</b></span>
                                          
                                          <span>&#8451;</span>
                                        </h3>
                                        <p class="text-white m-b-0"> <span id="lastdate_temperature-1">-</span>
                                        </p>
                                        <img class="img-fluid" src="../assets/images/temperature.png" alt="Theme-Logo" style="width: 50px;height: 50px;position: absolute;top: 20px;right: 10px;" />
                                      </div>
                                    </div>
                                    <div id="plot_temperature-1" style="height: 300px; margin: 0 auto"></div>
                                  </div>
                                  <div class="col-xl-3 col-md-3">
                                    <div class="card bg-c-pink order-card">
                                      <div class="card-block">
                                        <h6 class="text-white m-b-0">Humidity</h6>
                                        <h3 class="text-white">
                                          <span id="last-humidity-1"> <b>-</b></span>
                                         
                                          <span>%</span>
                                        </h3>
                                        <p class="text-white m-b-0"><span id="lastdate_humidity-1">-</span>
                                        </p>
                                        <img class="img-fluid" src="../assets/images/humadity.png" alt="Theme-Logo" style="width: 50px;height: 50px;position: absolute;top: 20px;right: 10px;" />
                                      </div>
                                    </div>
                                    <div id="plot_humidity-1" style="height: 300px; margin: 0 auto"></div>
                                  </div>
                                  <div class="col-xl-3 col-md-3">
                                    <div class="card bg-c-pink order-card">
                                      <div class="card-block">
                                        <h6 class="text-white m-b-0">Conductivity</h6>
                                        <h3 class="text-white">
                                          <span id="last-conductivityy-1"><b>-</b></span>
                                          
                                          <span>EC</span>
                                        </h3>
                                        <p class="text-white m-b-0"><span id="lastdate_conductivityy-1">-</span>
                                        </p>
                                        <img class="img-fluid" src="../assets/images/conductivity.png" alt="Theme-Logo" style="width: 50px;height: 50px;position: absolute;top: 20px;right: 10px;" />
                                      </div>
                                    </div>
                                    <div id="plot_conductivity-1" style="height: 300px; margin: 0 auto"></div>
                                  </div>
                                  <div class="col-xl-3 col-md-3">
                                    <div class="card bg-c-pink order-card">
                                      <div class="card-block">
                                        <h6 class="text-white m-b-0">pH</h6>
                                        <h3 class="text-white">
                                          <span id="last-ph-1"><b>-</b></span>
                                         
                                          <span>pH</span>
                                        </h3>
                                        <p class="text-white m-b-0"><span id="lastdate_ph-1">20-08-2023</span>
                                        </p>
                                        <img class="img-fluid" src="../assets/images/ph.png" alt="Theme-Logo" style="width: 50px;height: 50px;position: absolute;top: 20px;right: 10px;" />
                                      </div>
                                    </div>
                                    <div id="plot_ph-1" style="height: 300px; margin: 0 auto"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        
                       