   <div class="card-block">
                          <div class="row">
                            <div class="col-xl-3 col-md-3">
                              <div class="card bg-c-yellow order-card">
                                <div class="card-block">
                                  <h6 class="text-white m-b-0" style="font-weight: bold;">Air Temperature</h6>
                                  <h3 class="text-white">
                                    <span id="last-ta"><b>-</b> </span>
                                    ℃
                                  </h3>
                                  <p class="text-white m-b-0">
                                    <i class="feather icon-clock text-white f-14 m-r-10"></i><span id="lastdate_ta">-</span>
                                  </p>
                                  <img class="img-fluid" src="../assets/images/temperature.png" alt="Theme-Logo" style="width: 50px;height: 50px;position: absolute;top: 20px;right: 10px;" />
                                </div>
                              </div>
                              <!--<div id="plot_at" style="height: 300px; margin: 0 auto"></div>-->
                            </div>
                            <div class="col-xl-3 col-md-3">
                              <div class="card bg-c-yellow order-card">
                                <div class="card-block">
                                  <h6 class="text-white m-b-0" style="font-weight: bold;">Relative Humidity</h6>
                                  <h3 class="text-white">
                                    <span id="last-rh"><b>-</b></span>
                                     %
                                  </h3>
                                  <p class="text-white m-b-0">
                                    <i class="feather icon-clock text-white f-14 m-r-10"></i><span id="lastdate_rh">-</span>
                                  </p>
                                  <img class="img-fluid" src="../assets/images/humadity.png" alt="Theme-Logo" style="width: 50px;height: 50px;position: absolute;top: 20px;right: 10px;" />
                                </div>
                              </div>
                              <!--<div id="plot_rh" style="height: 300px; margin: 0 auto"></div>-->
                            </div>
                            <div class="col-xl-3 col-md-3">
                              <div class="card bg-c-yellow order-card">
                                <div class="card-block">
                                  <h6 class="text-white m-b-0" style="font-weight: bold;">Dew Point</h6>
                                  <h3 class="text-white">
                                    <span id="last-dp"><b>-</b></span>
                                     ℃
                                  </h3>
                                  <p class="text-white m-b-0">
                                    <i class="feather icon-clock text-white f-14 m-r-10"></i><span id="lastdate_dp">-</span>
                                  </p>
                                  <img class="img-fluid" src="../assets/images/temperature.png" alt="Theme-Logo" style="width: 50px;height: 50px;position: absolute;top: 20px;right: 10px;" />
                                </div>
                              </div>
                              <!--<div id="plot_volume" style="height: 300px; margin: 0 auto"></div>-->
                            </div>
                            <div class="col-xl-3 col-md-3">
                              <div class="card bg-c-yellow order-card">
                                <div class="card-block">
                                  <h6 class="text-white m-b-0" style="font-weight: bold;">Precipitation</h6>
                                  <h3 class="text-white">
                                    <span id="last-pr"><b>-</b></span>
                                     mm/day
                                  </h3>
                                  <p class="text-white m-b-0">
                                    <i class="feather icon-clock text-white f-14 m-r-10"></i><span id="lastdate_pr">-</span>
                                  </p>
                                  <img class="img-fluid" src="../assets/images/precip.png" alt="Theme-Logo" style="width: 50px;height: 50px;position: absolute;top: 20px;right: 10px;" />
                                </div>
                              </div>
                              <!--<div id="plot_pr" style="height: 300px; margin: 0 auto"></div>-->
                            </div>
                          </div>
                        </div>